@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-family: "Red Hat Display";
}
/* utility-container for flexible design */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    /* border för att underlätta design, ta bort sen */
    border: 1px solid red;
}

body {
    background-color: rgb(25, 25, 39);
}

#navbar {
    padding: 1rem 0;
}

#hamburger {
    width: 45px;
    height: auto;
    position: relative;
    left: 90%;
}

.nav-list { 
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 0.2rem;
    /* background-color: brown; */
}

.list-item {
    /* background-color: rgba(23, 23, 170, 0.8); */
}
.list-item a {
    text-decoration: none;
}
#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0.5rem;
}

.intro-title {
    font-size: 4rem;
    text-align: center;
    color: aquamarine;
    font-weight: 800;
    line-height: 85%;
    letter-spacing: 2px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "bebas neue";
}







/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}
  /* sm */
@media (min-width: 640px) {
    .container {
    max-width: 640px;
    }
    #hamburger {
        left: 93%;
    }
}
  /* md */
@media (min-width: 768px) {
    .container {
    max-width: 768px;
    }
    #hamburger {
        display: none;
    }
    .nav-list { 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 2rem;
        gap: 1rem;
        padding-right: 0.5rem;
    }
}
  /* lg */
@media (min-width: 1024px) {
    .container {
    max-width: 1024px;
    }
    .nav-list {
        gap: 2rem;
        font-size: 2.2rem;
        padding-right: 1rem;
    }
}
  /* xl */
@media (min-width: 1280px) {
    .container {
    max-width: 1280px;
    }
    .nav-list {
        gap: 3rem;
    }
}
  /* 2xl */
@media (min-width: 1536px) {
    .container {
    max-width: 1536px;
    }
}