* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}
/* utility-container for flexible design */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
}

body {
    background-color: rgb(25, 25, 39);
}

.navbar {
    display: none;
}

#header {
    display: flex;
    justify-content: flex-end;
}

#mobile-nav {
    margin-top: 0.5rem;
    width: 45px;
    height: auto;
}


























/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}
  /* sm */
@media (min-width: 640px) {
    .container {
    max-width: 640px;
    }
}
  /* md */
@media (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}
  /* lg */
@media (min-width: 1024px) {
    .container {
    max-width: 1024px;
    }
}
  /* xl */
@media (min-width: 1280px) {
    .container {
    max-width: 1280px;
    }
}
  /* 2xl */
@media (min-width: 1536px) {
    .container {
    max-width: 1536px;
    }
}