@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-family: "Red Hat Display";
}
/* utility-container for flexible design */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    /* border för att underlätta design, ta bort sen */
    /* border: 1px solid red; */
}

body {
    /* background-image: url("../images/colors.png");
    background-position: center; 
    background-repeat: no-repeat; */
    background-color: #181818;
}

#navbar {
    padding: 1rem 0;
}

#hamburger {
    width: 45px;
    height: auto;
    position: relative;
    left: 87%;
}
/* måste bytas */
#navbar a:hover {
    background-color: aqua;
}

.nav_list-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 170px;
    z-index: 99;
    background-color: #181818;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
}

.nav_list_item-mobile {
    width: 100%;
}

.nav_list_item-mobile a{
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
    padding-left: 0.5rem;
}

.nav_list { 
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 0.2rem;
}

.nav_list_item a {
    text-decoration: none;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: 0.5rem;
}

.intro_h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2rem;
}

.myName {
    position: relative;
}

.myName::after {
    content: "";
    height: 3px;
    width: 100%;
    background: #00d6f9;
    background: linear-gradient(141deg, rgba(0,214,249,1) 31%, rgba(245,26,214,1) 67%);
    left: 0;
    bottom: 5px;
    position: absolute;
}

.intro_h3 {
    font-size: 3.8rem;
    text-align: center;
    font-weight: 800;
    line-height: 85%;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    font-family: "bebas neue";
    background: #00d6f9;
    background: linear-gradient(141deg, rgba(0,214,249,1) 31%, rgba(245,26,214,1) 67%);
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    width: 80%;
}

.intro_h4 {
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.section_h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.modal_about_p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 8px;
}

.btns button {
    width: 120px;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.3rem;
    background-color: #00000000;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

#about, #projects, #contact{
    width: 90vw;
    height: 520px;
    display: none;
    position: fixed;
    background-color: #181818;
    z-index: 9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
    border-radius: 3px;
}

.modal {
    margin-top: auto;
    margin-bottom: auto;
}

.modal section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeModal {
    margin: 0;
    width: 100vw;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.105);
    z-index: 5;
    top: 0;
    left: 0;
}

.modal-cv {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.modal_h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.jobs_upper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.jobs_lower {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

.cv_duration {
    margin-right: auto;
}

.modal-cv div h4 {
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
    #hamburger {
        left: 90%;
    }
    .nav_list-mobile {
        width: 200px;
    }
    .btns button { 
        width: 30%;
    }
}
  /* sm */
@media (min-width: 640px) {
    .container {
    max-width: 640px;
    }
    #hamburger {
        left: 92%;
    }
    .profile-pic {
        width: 200px;
        height: 200px;
    }
    .intro_h3 {
        font-size: 4.2rem;
        width: 60%;
    }
    .intro_h2 {
        font-size: 2.4rem;
    }
    .intro_h4 {
        font-size: 1.5rem;
    }
    .nav_list-mobile {
        width: 225px;
    }
    .btns button { 
        width: 25%;
    }
}
  /* md */
@media (min-width: 768px) {
    .container {
    max-width: 768px;
    }
    #hamburger {
        display: none;
    }
    .nav_list { 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 2rem;
        gap: 1rem;
        padding-right: 0.5rem;
    }
    .nav_list-mobile {
        display: none;
    }
    .profile-pic {
        width: 250px;
        height: 250px;
    }
    .intro_h3 {
        font-size: 4rem;
        width: 100%;
    }
    .myName::after {
        height: 4px;
        bottom: 4px;
    }
}
  /* lg */
@media (min-width: 1024px) {
    .container {
    max-width: 1024px;
    }
    .nav_list {
        gap: 2rem;
        font-size: 2.2rem;
        padding-right: 1rem;
    }
    .intro_h3 {
        font-size: 4.5rem;
    }
    .intro_h4 {
        width: 60%;
    }
}
  /* xl */
@media (min-width: 1280px) {
    .container {
    max-width: 1280px;
    }
    .nav_list {
        gap: 3rem;
    }
    .intro_h4 {
        width: 50%;
    }
    .intro {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        height: 500px;
    }
    .intro_h2 {
        order: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .intro_h3 {
        order: 1;
        width: 423px;
        margin-left: auto;
        margin-right: auto;
    }
    .profile-pic {
        order: 2;
        margin-left: auto;
        margin-right: auto;
    }
    .intro_h4 {
        order: 3;
        width: 35%;
        margin-left: auto;
        margin-right: auto;
    }
}
  /* 2xl */
@media (min-width: 1536px) {
    .container {
    max-width: 1536px;
    }
}